{% extends "AppBlog/templatesupl.html" %}

{% load static %}

{% block titulo %}

BUSCAR PROFESIONAL

{% endblock %}

{% block descripcion0 %}

    <form action="/AppBlog/searchprof/" method="GET"> {% csrf_token %}

        <p style="color:white">
            <em>COLOQUE PROFESION:</em>
            <br/>
            <br/>
            <input type="text" name="professionalprofesion" id="professionalprofesion">
            <br/>
            <br/>
            <button class="btn btn-primary" type="submit" style="font-size:medium">BUSCAR</button>
        </p>

    </form>

{% endblock %}

{% block descripcion1 %}

{% endblock %}