{% extends "AppBlog/templatesupl.html" %}

{% load static %}

{% block titulo %}

RESULTADOS DE LA BÚSQUEDA

{% endblock %}

{% block descripcion0 %}

Estás buscando: {{search}}

{% endblock %}

{% block descripcion1 %}

<div align="left">
    <ul>
        <em>Los siguientes profesionales coinciden con la búsqueda:</em>
    </ul>
</div>
<br/>

    {% for prof in profesionales %}

        <div align="left">
            <ul>
                <li>Nombre completo: {{prof.professionalname}} {{prof.professionalsurname}}</li>
                <li>Profesión: {{prof.professionalprofesion}}</li>
                <li>Email: {{prof.professionalemail}}</li>
                <li>Celular: {{prof.professionalcellnumber}}</li>
                <br/>
            </ul>
        </div>
    
    {% endfor %}

    <div align="left" style="font-size:medium">
            <a class="btn btn-primary" href="{% url 'BuscarProfesional' %}"><em>Click aquí para buscar nuevamente</em></a>
    </div>

    {% endblock %}