{% extends "AppBlog/templatesupl.html" %}

{% load static %}

{% block titulo %}

RESULTADOS DE LA BÚSQUEDA

{% endblock %}

{% block descripcion0 %}

Estás buscando: {{search}}

{% endblock %}

{% block descripcion1 %}

    {% for prof in profesionales %}

        <ul>
            <li>NOMBRE: {{prof.professionalname}}</li>
            <li>APELLIDO: {{prof.professionalsurname}}</li>
            <li>EMAIL: {{prof.professionalemail}}</li>
            <li>CELULAR: {{prof.professionalcellphone}}</li>
        </ul>
    
    {% endfor %}

    {% endblock %}