{% extends "AppBlog/templatesupl.html" %}

{% load static %}

{% block titulo %}

EDITAR PROFESIONAL

{% endblock %}

{% block descripcion0 %}

{% endblock %}

{% block descripcion1 %}

<div align="center">
    <ul>
        <em>Modificar los siguientes datos:</em>
    </ul>
</div>
<br/>

<form action="" method="POST"> {% csrf_token %}

    <table align="center">

        {{formularioProfesionales.as_table}}

    </table>

    <br/>

    <button class="btn btn-primary" type="submit" style="font-size:x-large">GUARDAR</button>

</form>


<br/>
<div align="center">
    <a class="btn btn-primary" href="{% url 'Nosotros' %}"><em style="font-size:x-large">VOLVER A PROFESIONALES</em></a>
</div>

{% endblock %}