{% extends "AppBlog/templatesupl.html" %}

{% load static %}

{% block titulo %}

BORRAR PROFESIONAL

{% endblock %}

{% block descripcion0 %}

{% endblock %}

{% block descripcion1 %}

<div align="center">
    <ul>
        <em>¿Está seguro que desea borrar el siguiente profesional?</em>
    </ul>
</div>
<br/>

<div align="center">
    <li type="none">{{professionals.professionalname}} {{professionals.professionalsurname}}</li>
</div>
<br/>

<div align="center">
    <a class="btn btn-primary" href="{% url 'DeleteProfessional' professionals.professionalname %}" style="background-color:red;border-color:red"><em style="font-weight:bold">CONFIRMAR</em></a>
    <a class="btn btn-primary" href="{% url 'Nosotros' %}"><em style="font-weight:bold">CANCELAR</em></a>
</div>

{% endblock %}