{% extends "AppBlog/templatesupl.html" %}

{% load static %}

{% block titulo %}

VENCIMIENTOS

{% endblock %}

{% block descripcion0 %}

Te mantenemos informado de los vencimientos fiscales

{% endblock %}

{% block descripcion1 %}

<div align="left">
    <ul>
        <em>Próximos vencimientos fiscales:</em>
    </ul>
</div>
<br/>

    {% for taxesexp in taxesexpirationdatesall %}

        <ul>
            <div align="left">
                <li type="square">
                    <em style="background-color:yellow;color:black;border-style:solid;border-color:black;">{{taxesexp.taxdate}}</em> - {{taxesexp.taxname}} - <em style="font-size:large">(Responsable: {{taxesexp.taxresponsible}})</em>

                    {% if request.user.is_authenticated %}

                    <a class="btn btn-primary" href="{% url 'EditTaxesExpiration' taxesexp.taxname %}" style="background-color:blue;border-color:blue"><em style="color:white;font-weight:bold;font-size:small">EDITAR</em></a>
                    <a class="btn btn-primary" href="{% url 'ExpirationConfirmation' taxesexp.id %}" style="background-color:red;border-color:red"><em style="color:white;font-weight:bold;font-size:small">BORRAR</em></a>

                    {% else %}

                    {% endif %}

                </li>
            </div>
        </ul>

    {% endfor %}

    {% if request.user.is_authenticated %}

    <br/>
    <div align="left">
        <a class="btn btn-primary" href="{% url 'FormTaxesExpiration' %}"><em style="font-size:medium">Click aquí para agregar vencimiento</em></a>
    </div>

    {% else %}

    {% endif %}

{% endblock %}